---
component: navbar
---
<!-- Navbar component
================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="{{relative page.dest "dest/index.html"}}">ASSEMBLE</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li{{#is title "Examples"}} class="active"{{/is}}>
            <a href="{{relative page.dest "dest/examples.html"}}">Examples</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li> <a href="https://github.com/assemble/assemble/">Assemble Docs</a> </li>
          <li> <a href="https://github.com/assemble/boilerplate-markdown/">GitHub Repo</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>