<div class="sidebar">
  <span class="nav-section-title">
    <strong>\{{markdown}}</strong> Helper
  </span>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="markdown-block-1.html">Inline Markdown</a></li>
    <li><a href="markdown-block-2.html">Markdown "Includes"</a></li>
  </ul>
  <span class="nav-section-title">
    <strong>\{{md}}</strong> Helper
  </span>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="markdown-globbing-1.html">Alternate "Includes"</a></li>
    <li><a href="markdown-globbing-1.html">File Globbing #1</a></li>
    <li><a href="markdown-globbing-2.html">File Globbing #2</a></li>
  </ul>
</div>
